* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'roboto';
}

.flex-container {
  display: flex;
}

/* Hero Section */
.hero {
  background-color: #1f2937;
  padding: 20px 250px;
}

header.flex-container {
  justify-content: space-between;
}

header h3 {
  font-size: 24px;
  font-style: bold;
  color: #f9faf8;
}

nav {
  gap: 20px;
}

nav a,
p {
  font-size: 18px;
  color: #aeb0b5;
}

a:link {
  text-decoration: none;
}

/* Hero body */
.hero-body {
  margin-top: 100px;
  padding-bottom: 130px;
  flex: 1;
  gap: 100px;
}

.left-hero-body h2 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.left-hero-body button {
  background-color: #3882f6;
  color: white;
  font-weight: 700;
  font-size: 18px;
  padding: 10px 30px;
  margin-top: 10px;

  border-radius: 10px;
  border-color: none;
}

.placeholder {
  display: flex;
  width: 550px;
  height: 250px;
  background-color: rgb(138, 138, 138);
  align-items: center;
  justify-content: center;
}

/* InfoSection */
.info {
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 0 300px;
}

.info-header {
  padding-bottom: 40px;
  text-align: center;
}

.info-header h3 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.info-body {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.info-item {
  width: 150px;
  text-align: center;
}

.info-item-box {
  width: 150px;
  height: 150px;
  border: 4px solid #3882f6;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Quote Section */
.quote {
  background-color: #e5e7eb;
}

.quote-body {
  padding: 80px 340px;
}

.quote-author {
  display: flex;
  justify-content: end;
}

.quote-text p {
  font-size: 36px;
  font-style: italic;
  font-weight: light;
  color: #1f2937;
}
