body {
  background-color: aquamarine;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  margin-top: 300px;
  text-align: center;

  font-size: 36px;
}

.boxes {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

button {
  background-color: rgb(238, 255, 0);
  font-size: 26px;
  width: 200px;
  height: 200px;
  border-radius: 8px;
}

button:hover {
  background-color: rgb(255, 255, 0);
}

button:active {
  background-color: rgb(198, 212, 5);
}

.result-container {
  text-align: center;
  height: 60px;
}

.result-text {
  font-size: 26px;
  font-weight: bold;
}
