body {
  background-color: aquamarine;
  font-family: 'Courier New', Courier, monospace;
}

.active {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

/* Scores */
h1 {
  font-size: 80px;
}

h3 {
  font-size: 22px;
}

.score-box {
  display: flex;
  justify-content: center;
  gap: 50px;

  text-align: center;
}

.player-score-box,
.computer-score-box {
  height: 250px;
  width: 250px;
  background-color: aliceblue;
  border: 2px solid black;
}

/* Buttons */
.boxes {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

button {
  background-color: rgb(238, 255, 0);
  font-size: 26px;
  width: 200px;
  height: 200px;
  border-radius: 8px;
}

button:hover {
  background-color: rgb(255, 255, 0);
}

button:active {
  background-color: rgb(198, 212, 5);
}

.result-container {
  text-align: center;
  height: 60px;
}

.result-text {
  font-size: 26px;
  font-weight: bold;
}
