* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #edf6f9;
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #83c5be;
  padding-left: 10rem;
}

.title {
  font-size: 7.2rem;
  font-weight: 900;
}

.main-body {
  width: 100%;
  padding: 5rem 12rem;
}

.add-book-container {
  width: 100%;
  text-align: center;
}

.add-book-button {
  display: inline-block;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 700;
  width: 22rem;
  border-radius: 0.8rem;
  background-color: #83c5be;
  padding: 1rem;
}

.add-book-button:hover {
  background-color: #98e2db;
  cursor: pointer;
}

.add-book-button:active {
  background-color: #006d77;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 70%;
  background-color: white;
  padding: 2rem 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.modal-header {
  text-align: center;
  font-size: 3.2rem;
  margin-bottom: 2rem;
  font-weight: 500;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.modal-form div {
  display: flex;
  flex-direction: column;
}

.modal-form div label {
  font-size: 2.4rem;
  margin-bottom: 0.6rem;
}

.modal-form div input {
  font-size: 2rem;
  padding: 1rem;
}

div.modal-read-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modal-checkbox {
  height: 2rem;
  width: 2rem;
}

.submit-button {
  width: 80%;
  height: 6rem;
  margin: 2rem auto 0;
  font-size: 2.6rem;
  background-color: #83c5be;
  border-width: 0;
  border-radius: 0.6rem;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.submit-button:hover {
  background-color: rgb(153, 226, 219);
  border-width: 0;
  border-radius: 0.6rem;
  cursor: pointer;
}

.submit-button:active {
  background-color: #669b95;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(1px);
  z-index: 5;
}

.hidden {
  display: none;
}

.cards {
  display: flex;
}
