html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: black;
}

.main-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
}

.side-bar {
  background-color: #0891b2;
  width: 100%;
}

.side-bar-container {
  margin-top: 2rem;
  padding-left: 2rem;
  color: white;
}

.title-box {
  display: flex;
  align-items: center;
  font-size: 3.2rem;
}

.title {
  margin: 0;
  margin-left: 1rem;
}

.home,
.settings {
  margin-top: 4rem;
  font-size: 2.2rem;
}

ul {
  list-style: none;
  padding-left: 1rem;
}

li {
  margin-bottom: 1.4rem;
}

.icon-box {
  display: inline-block;
  margin-right: 1rem;
}

.tasks-icon {
  font-size: 2.6rem;
}

.community-icon {
  font-size: 1.8rem;
}

.body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
  background-color: white;
}

.header {
  padding: 2rem;
}

.search-bar-container,
.greetings-container {
  display: grid;
  grid-template-columns: 6.5fr 3.5fr;
  align-items: center;
  margin-left: 3rem;
}

.search-bar {
  font-size: 2.4rem;
}

.search-box {
  background-color: #ede9fe;
  border-radius: 4rem;
  border: 0;
  margin-left: 1rem;
  padding-left: 2rem;
  height: 3rem;
  width: 65%;

  font-size: 1.8rem;
}

.search-box:focus {
  outline: none;
  padding-left: 2rem;
}

.profile {
  display: flex;
  align-items: flex-start;
  justify-content: end;
}

.profile-box {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.donut-pic {
  border-radius: 50%;
  height: 4.2rem;
  width: 4.2rem;
}

.user {
  margin: 0;
  font-size: 1.8rem;
}

.greetings-container {
  display: flex;
  justify-content: space-between;
}

.greetings {
  display: flex;
  align-items: center;
}

.profile-pic {
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
  margin-right: 2rem;
}

.greeting {
  font-size: 2rem;
  font-weight: 700;
}

.username {
  font-size: 3.2rem;
  font-weight: 700;
}

.actions {
  display: flex;
  justify-content: space-evenly;
}

.actions a {
  display: inline-block;
}

.actions a:link,
.actions a:visited {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 700;
  color: white;

  background-color: #06b6d4;
  border-radius: 3rem;
  margin-right: 3rem;
  padding: 1rem 2rem;
}

/****** Main Body ******/
.main-body {
  background-color: #a5b4fc;
  padding: 2rem 1.6rem;
}

.content-container {
  display: grid;
  grid-template-columns: 2fr 1fr;

  background-color: red;

  height: 100%;
  width: 100%;
}

.projects {
  background-color: blue;
  height: 100%;
  width: 100%;
}
.projects-title {
  font-size: 2.2rem;
}

.projects-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.list {
  background-color: red;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.items {
  background-color: yellow;
  height: 100%;
  width: 100%;
}
