* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
  font-family: sans-serif;
}

.main-container {
  display: flex;
}

.main {
  height: 100vh;
  width: 100%;
}

.left-container {
  background-color: aqua;
  background-image: url('./images/leaf-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1 0 37%;
}

.title-container {
  background-color: rgba(0, 0, 0, 0.486);
  font-family: 'Skranji', cursive;

  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.image-container {
  width: 17%;
}

.odin-image {
  width: 100%;
  height: auto;
}

.text-container {
  display: inline-block;
  padding-bottom: 30px;
  color: white;
  font-size: 72px;
  margin-top: 35px;
}

.right-container {
  font-family: 'Roboto', sans-serif;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
}

.top,
.middle,
.bottom {
  padding: 0 100px;
}

.top {
  background-color: aliceblue;
  padding-top: 120px;
  flex: 1;
}

.top p {
  font-weight: 700;
  font-size: 28px;
}

.middle {
  background-color: white;
  box-shadow: 0 4px 2px -2px rgba(128, 128, 128, 0.535);
  min-height: 400px;
  flex: 1 1 2;
  z-index: 2;
}

.middle h2 {
  padding: 20px 0;
}

.middle-form form {
  display: flex;
  flex-wrap: wrap;
}
.middle-form div {
  flex: 1 1 50%;
}

.middle-form label {
  display: block;
  text-transform: uppercase;
  font-size: 16px;
}

.bottom {
  background-color: aliceblue;
  flex: 1;
}
